@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');

:root{
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText:black;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg:rgb(251,249,243,0.8);
  --previewShadow:#f0ead6;
}
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body{
  font-family: 'Grenze Gotisch', cursive;
  color:var(--mainText);
}

#about, #more-info,#service,#contact{
  background-color: var(--mainColor);
}

body *{
  transition: 0.3s;
}

a{
  text-decoration: none;
  color: #17a2b8;
}
.navbar{
  position: fixed;
  background-color: black;
  width: 100%;
  height: 60px;
}

.bar-wrapper{
  position: relative;
  height: 20px;
  margin-top: 20px;
  margin-left: 20px;
  display: none;
}

.bar{
  width: 25px;
  height: 2px;
  background: #fff;
  
}

.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}

.navbar ul a{
  color: #fff;
  text-decoration: none;
  margin: 40px;
  text-transform: uppercase;
}

.side_menu{
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    transition: 0.5s;
}

.cross{
  position: absolute;
  font-size: 40px;
  right: 10px;
  top: -20px;
}

.side_menu ul{
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.side_menu ul a{
  color: var(--mainColor);
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    height: 100vh;
    scroll-snap-align: center;
}

h1{
  font-size: 4rem;
}

#home .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c1e1e3;
}

.text1{
  
  font-weight: bold;
  letter-spacing: 4px;
  animation: text 3s 1;
}

.lead{
  font-size: 1.5rem;
}

.about-container{
  
  color: var(--mainText);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}

.left-column{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.right-column{
  display: grid;
	align-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile_pic{
  height: 300px;
  width: 300px;
  margin-top: 50px;
  border: 1px solid var(--secondaryText);
  box-shadow: 0 4px 8px 0;
}

#preview{
  width: 500px;
border:1.5px solid #17a2b8;
background-color: var(--previewBg);
  padding:15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0;
}

#settings-note{
  font-style: italic;
  font-size: 1rem;
}

#theme-options-wrapper{
  display: flex;
  justify-content: space-around;
}

.theme-dot{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid var(--mainText);
  margin: 5px;
  cursor: pointer;
}

.theme-dot:hover{
  border: 5px solid var(--mainText);
}

#light-mode{
  background-color: #fff;

}

#blue-mode{
  background-color: #192734;
}

#green-mode{
  background-color: #78866b;
}

#purple-mode{
background-color: #7E4C74;
}

.about-me{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--mainText);
}

#skills{
  display: flex;
  justify-content: space-around;
  background-color: var(--previewShadow);
  padding: 20px;
}

.service-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:50px;
}

.thumbnail{
  display: block;
  width: 100%;
}

.post{
  background-color: var(--mainColor);
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0;
  width: 300px;
  padding: 10px;
 } 

.post-preview{
  width: 300px;
  padding: 0 10px 20px 10px;
  text-align: center;
}

.service-container{
  color: var(--mainText);
  background-color: var(--secondaryText);
}

.service-container h1{
  text-align: center;
  margin-top:100px;
  color: var(--mainText);
}

.main-container{
  color: var(--mainText);

}

.alert p{
  width: 200px;
  margin: auto;
}

#contact-form{
  display: flex;
  flex-direction: column;
  background-color: var(--borderColor);
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
}
#contact-form label{
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field{
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#contact-form textarea{
  height: 80px;
}

.submit-btn{
  background-color: black;
  margin-top: 10px;
  padding: 10px;
  border: none;
  color: #fff;
}

.submit-btn:hover{
  cursor: pointer;
}

.underline{
  border-bottom: 1px solid #fff;
}

section#home {
  background: url('images/21.jpg') no-repeat center center/cover;
}


@keyframes text{
  0%{
      color:black;
      margin-bottom: -40px;
  }
  30%{
      letter-spacing: 50px;
      margin-bottom: -40px;
  }
  85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
  }
}

@media screen and (max-width:600px){
  body{
    width: 100vh;
    overflow-x: hidden;
    background: black;
  }

  .about-container{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
  }
  .navbar ul{
    display: none;
  }

  .bar-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  section#home {
    height: 100vh;
    overflow-x: hidden;
  }

  #home h1{
    font-size: 40px;
  }

  #more-info{
    margin-top: 400px;
  }

  #contact{
    display: flex;
    justify-content: center;
    width: 30vw;
  }

}